altair==4.0
matplotlib==3.6.3
mysql-connector-python==8.0.32
openai==0.27.6
pandas==1.5.2
plotly==5.14.0
protobuf==3.20.3
pytelegrambotapi==4.9.0
python-dotenv==0.21.0
scikit-learn==1.2.1
SQLAlchemy==1.4.46
streamlit==1.18.1
torch==2.0.0
transformers==4.28.1
